html{

  height:100%;

}

body{

   height:100%;
   background-attachment:fixed;
   background-color:#162234;

}

.header{

   font-family:Lobster;
   color:white;

}

#screen{

    border-radius:10px;
    border:5px solid orange;
    background-color:#162234;
    color:white;

}

.calc-buttons{

    width:50px;

}

.container{

   border-radius: 20px;
   border:5px solid orange;
   background-color: #162234;
   padding-top:25px;
   width:270px;

}
